* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 15px;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
}
button {
    background: none;
    border: none;
    opacity: 0.4;
}
button.left {
    position: absolute;
    align-self: center;
    left: 10px;
    z-index: 1;
}
button.right {
    position: absolute;
    align-self: center;
    right: 10px;
    z-index: 1;
}
button img {
    width: 30px;
}

.slides {
    position: absolute;
    display: flex;
    top: 20%;
}

.slide {
    position: relative;
    width: 500px;
    height: 300px;
    display: none;
    justify-content: center;
}
.slide img {
    width: 100%;
    border-radius: 10px;
}
.vis {
    display: flex;
}
.caption {
    position: absolute;
    top: 45%;
    text-align: center;
    animation-name: zoons;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.caption h1 {
    font-size: 2rem;
    color: tomato;
}
.caption p {
    font-size: 1.5rem;
    color: dodgerblue;
}

@keyframes zoons {
    0% {
        transform: scale(0.97);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.93);
    }
}