* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    width:100%;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: antiquewhite;
}
.cena {
    width: 50%;
    height: 500px;
    position: absolute;
    top: 45%;
}
.centro {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-left: 10vw solid #000;
    border-right: 10vw solid #000;
    border-top: 5vw solid #ccc;
    border-bottom: 10vw solid #ccc;
    transition: 1s;
}
.centro::before {
    content: "";
    border-top: 5vw solid #ccc;
}