* {
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.moedas {border: 1px solid red;
    position: absolute;
    top: 40%;
    left: 0; 
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}